<div class="container">
  <div class="card bg-dark text-white m-3 mt-5">
    <h5 class="card-header text-center">
      <img src="../assets/lco.png" alt="" width="30" height="30" class="mr-2" />
      LCO Signup Form
    </h5>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-6">
            <label>First Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              [ngClass]="{ 'is-invalid': submitted && formControl.firstName.errors }"
            />
            <div *ngIf="submitted && formControl.firstName.errors" class="text-warning">
              <div *ngIf="formControl.firstName.errors.required">
                First Name is required
              </div>
            </div>
          </div>
          <div class="form-group col-6">
            <label>Last Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              [ngClass]="{ 'is-invalid': submitted && formControl.lastName.errors }"
            />
            <div *ngIf="submitted && formControl.lastName.errors" class="text-warning">
              <div *ngIf="formControl.firstName.errors.required">
                Last Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input
            type="email"
            class="form-control"
            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && formControl.email.errors }"
          />
          <div *ngIf="formControl.email.touched && formControl.email.errors" class="text-warning">
            <div *ngIf="formControl.email.errors.required">Email is required</div>
            <div *ngIf="formControl.email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>

        <ng-container *ngIf="formControl.email.touched && formControl.email.errors">
          <div *ngIf="formControl.email.errors.required" class="text-danger">
            Value is required.
          </div>
        </ng-container>

        <div class="form-row">
          <div class="form-group col">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && formControl.password.errors }"
            />
            <div *ngIf="formControl.password.touched && formControl.password.errors" class="text-warning">
              <div *ngIf="formControl.password.errors.required">Password is required</div>
              <div *ngIf="formControl.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group col">
            <label>Confirm Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="confirmPassword"
              [ngClass]="{ 'is-invalid': submitted && formControl.confirmPassword.errors }"
            />
            <div *ngIf="formControl.confirmPassword.touched && formControl.confirmPassword.errors" class="text-warning">
              <div *ngIf="formControl.confirmPassword.errors.required">
                Confirm Password is required
              </div>
              <div *ngIf="formControl.confirmPassword.errors.mismatch">
                Passwords must match
              </div>
            </div>
          </div>
        </div>
        <div class="form-group form-check">
          <input
            type="checkbox"
            id="acceptTerms"
            class="form-check-input"
            formControlName="acceptTandC"
            [ngClass]="{ 'is-invalid': submitted && formControl.acceptTandC.errors }"
          />
          <label for="acceptTerms" class="form-check-label">
            Accept Terms & Conditions
          </label>
          <div *ngIf="submitted && formControl.acceptTandC.errors?.required" class="text-warning">
            Accept Ts & Cs is required
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-success btn-lg px-4 mr-3">Register</button>
          <button (click)="onResetForm()" class="btn btn-warning" type="reset">
            Reset
          </button>
          <!-- <p class="text white">Value: {{ registerForm.value | json }}</p>
          <p class="text white">Value: {{ registerForm.valid | json }}</p> -->
        </div>
      </form>
    </div>
  </div>
</div>
